//Component
@import 'components/header';
@import 'components/sidebar';
@import 'components/card';

.container {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
body {
    margin: 0 auto;
    font-family: Poppins, 'sans-serif';
}