.cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 20px;
    max-width: 80%;
}
.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 0px;
    max-width: 300px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}
.price {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}
.description {
    font-size: 14px;
    color: #666;
    margin-bottom: 32px;
}
.cardImage {
    object-fit: cover;
}
.cart-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
  }
  
  .cart-popup-content {
    text-align: center;
  }
  
  .empty-cart {
    font-style: italic;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .close-button {
    background-color: #ccc;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }