.headerContainer {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 0px 60px;
}
.siteTitle {
    font-size: 32px;
    color: #FFFFFF;
}