aside {
    padding: 20px 60px;
    max-width: 30%;
    max-height: 100%;
    border-right: 0.5px solid gray;
}
.sidebar {
    width: 250px;
    background-color: #f2f2f2;
    padding: 20px;
}
.navList {
    list-style: none;
    padding: 0;
    margin: 0;
}
.navItem {
    margin-bottom: 10px;
    cursor: pointer;
}
.link {
    font-size: 16px;
    color: #1e1e1e;
    text-decoration: none;
}
.link:hover {
    color: orange;
}